body {
  margin: 0px;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding:0 0;
}

.container{
  padding: 20px 15px;
  margin: 0 auto;
}

.top-title{
  border-bottom: solid 1px grey;
  font-family:serif;
  font-size:30px;
  letter-spacing:5px;
}
.top-title a{
  display: block;
  text-align: center;
  border-bottom: solid 1px grey;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  padding:0;
}

.contents li{
  text-align: center;
  font-family:serif;
  width:42%;
  border-bottom: solid 1px grey;
}
.contents a{
  font-weight: bolder;
}
.contents img{
  max-width:-webkit-fill-available;
}
.list{
  width:300px;
  padding:15px;
}

.blank1{
  height:200px;
  width:100%;
  border-bottom: solid 1px grey;
}

.blank2{
  height:50px;
  width:100%;
}
.blank2 p{
  padding-top:30px;
  display:block;
  text-align: center;
  vertical-align: bottom;
  font-size:8px;
}
.buttoms{
  display:flex;
  justify-content: center;
}
.buttoms a{
  color: black;
  display:block;
  width:100%;
}
.buttoms li{
  padding:0 10px;
  cursor:pointer;
  border-radius: 3px;
  transition: 1.0s;
}
.buttom:hover{
  background-color: #c1c1c1;
}
.buttom_active{
  background-color: #c1c1c1;
}
